/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT  0
#define NUM_MODS 1
#define BT_CTRL  2
#define MODIFIED  3

/ {
    behaviors {
        bspc_del: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            label = "BACKSPACE_DELETE";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };
        gresc: grave_escape {
            compatible = "zmk,behavior-mod-morph";
            label = "GRAVE_ESCAPE";
            #binding-cells = <0>;
            bindings = <&kp ESC>, <&kp GRAVE>;
            mods = <(MOD_LGUI|MOD_LSFT|MOD_RGUI|MOD_RSFT)>;
        };
    };
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp GRAVE_ESCAPE   &kp Q     &kp W    &kp E     &kp R        &kp T      &kp Y     &kp U        &kp I     &kp O     &kp P    &kp BACKSPACE_DELETE
    &kp TAB     &kp A     &kp S    &kp D     &kp F        &kp G      &kp H     &kp J        &kp K     &kp L     &kp SEMI &kp SQT
    &kp LSHFT   &kp Z     &kp X    &kp C     &kp V        &kp B      &kp N     &kp M        &kp COMMA &kp DOT   &kp FSLH &kp ENTER
    &kp LCTRL   &kp NUBS  &kp LGUI &kp LALT  &mo MODIFIED &kp SPACE  &trans    &to NUM_MODS &kp LEFT  &kp RIGHT &kp UP   &kp DOWN
            >;
        };

        num_mods {
            bindings = <
    &kp GRAVE &kp N1        &kp N2   &kp N3   &kp N4      &kp N5     &kp N6    &kp N7       &kp N8    &kp N9     &kp N0     &kp BACKSPACE_DELETE
    &kp TAB   &trans        &trans   &trans   &trans      &kp UNDER  &kp EQUAL &kp N4       &kp N5    &kp N6     &kp MINUS  &kp BSLH
    &kp LSHFT &trans        &trans   &trans   &trans      &kp MINUS  &kp PLUS  &kp N1       &kp N2    &kp N3     &kp EQUAL  &kp ENTER
    &kp LCTRL &mo BT_CTRL   &kp LGUI &kp LALT &to DEFAULT &kp SPACE  &trans    &to NUM_MODS &kp N0    &kp DOT    &kp UP     &kp DOWN
            >;
        };

        bt_control {
            bindings = <
    &trans     &trans       &trans        &trans       &trans       &trans       &trans    &trans    &trans     &trans     &trans    &trans 
    &trans     &trans       &trans        &trans       &trans       &trans       &trans    &trans    &trans     &trans     &trans    &trans
    &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1  &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &trans    &trans    &trans     &trans     &trans    &kp HOME
    &trans     &trans       &trans        &trans       &trans       &trans       &trans    &trans    &bt BT_PRV &bt BT_NXT &kp PG_UP &kp PG_DN
            >;
        };

        modified {
            bindings = <
    &trans     &trans       &kp UP        &trans       &trans       &trans      &trans    &kp F9    &kp F10    &kp F11    &kp F12  &trans 
    &trans     &kp LEFT     &kp DOWN      &kp RIGHT    &trans       &LBKT       &RBKT     &kp F5    &kp F6     &kp F7     &kp F8   &trans
    &trans     &trans       &trans        &trans       &trans       &LBRC       &RBRC     &kp F1    &kp F2     &kp F3     &kp F4   &trans 
    &trans     &trans       &trans        &trans       &trans       &trans      &trans    &trans    &trans     &trans     &trans   &trans 
            >;
        };
    };
};
